.mat-card {
	width: 80%;
}

.profile-name {
	color: blue;
}

.profile-wrapper {
	background: url(../../assets/pictures/profile.jpg);
	background-size: cover;
	height: 100%;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
}

.box {
	/*position: relative;*/
	top: 0;
	opacity: 1;
	float: left;
	padding: 60px 50px 40px 50px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
	max-width: 330px;
}