  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>General Information</ng-template>
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstName" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Last name" formControlName="lastName" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Email address" formControlName="email" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step>
      <form>
        <ng-template matStepLabel>Preferences</ng-template>
        <mat-checkbox>Animals</mat-checkbox>
        <br>
        <mat-checkbox>Environment & sustainability</mat-checkbox>
        <br>
        <mat-checkbox>Kids and Teenager</mat-checkbox>
        <br>
        <mat-checkbox>Sports</mat-checkbox>
        <br>
        <mat-checkbox>Food service</mat-checkbox>
        <br>
        <mat-checkbox>Disabled</mat-checkbox>
        <br>
        <mat-checkbox>Medical</mat-checkbox>
        <br>
        <mat-checkbox>Event</mat-checkbox>
        <br>
        <mat-checkbox>Technology</mat-checkbox>
        <br>
        <mat-checkbox>Education</mat-checkbox>
        <br>
        <mat-checkbox>Arts</mat-checkbox>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Availability</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  