<mat-list class="list">
	<mat-list-item>
		<mat-icon matListAvatar src="" alt=""> image </mat-icon>
		<h2 matLine>Project Name</h2>
		<h4 matLine>tags go here</h4>
		<p matLine>this is the project description hahahaha</p>
	</mat-list-item>
</mat-list>

<!-- <mat-list>
	<mat-list-item *ngFor="let proj of projects"> 
		<mat-icon matListAvatar src={{proj.img}} alt=""> image </mat-icon>
		<h3 matLine> {{proj.name}} </h3>
		<strong matLine> {{proj.tags}} </strong>
		<p matLine> {{proj.description}} </p>
		<mat-divider></mat-divider>
	</mat-list-item>
</mat-list> -->
