<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a class="heading">ConuHacksV</a></div>
  <span class="nav-tool-items">
  	<div id="loggedIn" class="hidden">
	    <a mat-button routerLink="list" routerLinkActive="active">Projects</a>
	    <a mat-button routerLink="profile" routerLinkActive="active">Profile</a>
	    <a mat-button mat-raised-button routerLink="logout" routerLinkActive="active" id="logoutButton">Log Out</a>
	</div>
    <div id ="loginSignup">
	    <a mat-button routerLink="LoginComponent" routerLinkActive="active" >Log in</a>
	    <a mat-button mat-raised-button routerLink="SignupComponent" routerLinkActive="active" >
	    Register</a>
	</div>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>